.category-card {
  text-align: center;

  .category-details {
    height: 20rem;
    width: 25rem;
    background-color: var(--color-secondary);
    border-radius: 17% 17% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .category-details__title {
      transform: translateY(-1rem);
      font-size: 3rem;
    }

    .category-divider {
    }

    .category-details__description {
    }

    .category-details__author {
    }
  }

  .category-btn {
    height: 5rem;
    width: 25rem;
    background-color: var(--color-tertiary);
    border-radius: 5rem 5rem 5rem 5rem;
    transform: translateY(-3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover p {
      transform: scale(1.2) translateY(-5%);
    }

    p {
      font-size: 3rem;
      font-weight: 1000;
    }
  }
}
